* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 1.6rem;
}

h1  {
  font-size: 6rem;
}

.app  {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, skyblue, blue);
}

.container  {
  max-width: 700px;
  height: 700px;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top  {
  padding-top: 15%;
  line-height:  1.5;
  margin-top: -130px;
}

.location {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.temp {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom  {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-evenly;
  padding: 1rem;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.3);
  line-height: 1.4;

}

.shift-left-Feels {
  margin-left: -30px;
}

.shift-left-Humidity  {
  margin-left: -30px;
}

.shift-right-Wind {
  margin-left: -25px;
}

.bottomText {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-evenly;
}

.searchBox  {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.inputBar {
  padding: .7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, .2);
  display: flex;
  flex-direction: column;
}

.buttonSearch {
  padding: .7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, .2);
  transition: 200ms;
}

.buttonSearch:hover {
  border: 1px solid black; 
  transform: translateY(-5px); 
  cursor: pointer;

}

.boldPlease {
  font-weight: 600;
}


